body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    cursor: url('/static/images/cursor.png'), auto;
}
button:hover {
    cursor: url('/static/images/cursor-click.png'), pointer;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
